@font-face {
    font-family: 'Red Hat Display';
    src: url('/fonts/RedHatDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('/fonts/RedHatDisplay-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('/fonts/RedHatDisplay-Black.ttf');
    font-weight: 900;
}


:root {
    --color-blue-950: #1F2E55;
    --color-blue-700: #382AE1;
    --color-blue-150: #D6E1FF;
    --color-blue-100: #E0E8FF;
    --color-blue-50: #F7F9FF;

    --color-purple-500: #766CF1;
    --color-grey-600: #717FA6;

    --white: #FFFFFF;
    --black: #000000;

    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --text-preset-1-size: 1.75rem;
    --text-preset-1-line-height: 135%;
    --text-preset-1-weight: var(--font-weight-black);

    --text-preset-2-size: 1.375rem;
    --text-preset-2-line-height: 135%;
    --text-preset-2-weight: var(--font-weight-bold);

    --text-preset-3-size: 1rem;
    --text-preset-3-line-height: 165%;
    /* weight: black, bold, medium */

    --text-preset-4-size: 0.9375rem;
    --text-preset-4-line-height: 165%;
    /* weight: black, bold, medium */

    --spacing-0: 0;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-600: 3rem;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}
/* *** */

body {
    font-family: 'Red Hat Display', monospace;
    font-size: var(--text-preset-4-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-preset-4-line-height);
}
