@font-face {
    font-family: 'Red Hat Display';
    src: url('/fonts/RedHatDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('/fonts/RedHatDisplay-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('/fonts/RedHatDisplay-Black.ttf');
    font-weight: 900;
}


:root {
    --color-blue-950: #1F2E55;
    --color-blue-700: #382AE1;
    --color-blue-150: #D6E1FF;
    --color-blue-100: #E0E8FF;
    --color-blue-50: #F7F9FF;

    --color-purple-500: #766CF1;
    --color-grey-600: #717FA6;

    --white: #FFFFFF;
    --black: #000000;

    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --text-preset-1-size: 1.75rem;
    --text-preset-1-line-height: 135%;
    --text-preset-1-weight: var(--font-weight-black);

    --text-preset-2-size: 1.375rem;
    --text-preset-2-line-height: 135%;
    --text-preset-2-weight: var(--font-weight-black);

    --text-preset-3-size: 1rem;
    --text-preset-3-line-height: 165%;
    /* weight: black, bold, medium */

    --text-preset-4-size: 0.9375rem;
    --text-preset-4-line-height: 165%;
    /* weight: black, bold, medium */

    --spacing-0: 0;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-600: 3rem;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}
/* *** */

body {
    background-color: var(--color-blue-100);

    font-family: 'Red Hat Display', monospace;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

picture img {
    display: block;
    max-width: 100%;
}

.main-container {
    max-width: 375px;
    margin-left: var(--spacing-300);
    margin-right: var(--spacing-300);

    background-color: var(--white);

    border-radius: 20px;
    overflow: hidden;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: var(--spacing-300);

    padding: var(--spacing-400)
            var(--spacing-300)
            var(--spacing-400)
            var(--spacing-300);
}

.order-summary {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: var(--spacing-300);
}

.order-summary h1 {
    /*  --text-preset-2  */
    font-size: var(--text-preset-2-size);
    font-weight: var(--text-preset-2-weight);
    line-height: var(--text-preset-2-line-height);
    color: var(--color-blue-950);

    text-align: center;
}

.order-summary p {
    /*  --text-preset-4 (medium)    */
    font-size: var(--text-preset-4-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-preset-4-line-height);
    color: var(--color-grey-600);

    text-align: center;
}

.payment-plan {
    justify-self: stretch;

    display: flex;
    align-items: center;
    column-gap: var(--spacing-200);

    padding: var(--spacing-200);
    background-color: var(--color-blue-50);
    border-radius: 11px;
}

.payment-plan div {
    justify-content: flex-start;
}

.payment-plan .plan-price h3 {
    font-size: var(--text-preset-4-size);
    font-weight: var(--font-weight-black);
    line-height: var(--text-preset-4-line-height);
    color: var(--color-blue-950);
}

.payment-plan .plan-price p {
    font-size: var(--text-preset-4-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-preset-4-line-height);
    color: var(--color-grey-600);
}

.payment-plan .icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

.payment-plan button {
    font-size: var(--text-preset-4-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--text-preset-4-line-height);
    font-family: inherit;
    border: 0;
    padding: 0;
    background: none;
    margin-left: auto;
    color: var(--color-blue-700);
}

.payment-plan button:hover {
    color: var(--color-purple-500);
}

.payment-plan button:active {
    color: var(--color-blue-700);
}

.confirmation {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: var(--spacing-300);
    width: 100%;
}

.confirmation__proceed-button {
    font-size: var(--text-preset-3-size);
    font-weight: var(--font-weight-black);
    line-height: 50px;
    font-family: inherit;
    color: var(--white);
    border: 0;
    padding: 0;
    background-color: var(--color-blue-700);
    border-radius: 11px;
    width: 100%;
    height: 50px;
    box-shadow: 0 20px 20px rgba(56, 42, 225, 0.19);

}

.confirmation__proceed-button:hover {
    background-color: var(--color-purple-500);
}

.confirmation__proceed-button:active {
    background-color: var(--color-blue-700);
}

.confirmation__cancel-button {
    font-size: var(--text-preset-3-size);
    font-weight: var(--font-weight-black);
    line-height: var(--text-preset-3-line-height);
    font-family: inherit;
    border: 0;
    padding: 0;
    background: none;
    color: var(--color-grey-600);
}

.confirmation__cancel-button:hover {
    color: var(--color-blue-950);
}

.confirmation__cancel-button:active {
    color: var(--color-grey-600);
}
